In [1]:
#Mutable, but keys must be immutable objects like ints,strings,tuples but values can be anything.

my_dict = {'name': 'Prerak',
           'age': 25,
           'city': 'Dehradun'
          }
print(my_dict)

{'name': 'Prerak', 'age': 25, 'city': 'Dehradun'}

In [2]:
#indexing using keys rather than numeric indexes
my_dict['name']

'Prerak'

In [4]:
#adding in a dict
my_dict['state'] = 'Uttarakhand'
print (my_dict)

{'name': 'Prerak', 'age': 25, 'city': 'Dehradun', 'state': 'Uttarakhand'}

In [5]:
del my_dict['state']
print (my_dict)

{'name': 'Prerak', 'age': 25, 'city': 'Dehradun'}

In [12]:
#if dict don't have name key then it will print panwar
my_dict2 = {
           'age': 25,
           'city': 'Dehradun'
          }
print(my_dict2.get('name','panwar'))

panwar

In [13]:
len(my_dict)

3

In [17]:
#in only takes keys
'name' in my_dict

True

In [19]:
#if you want to check for a value in a dict
'Prerak' in my_dict.values()

True

SETS : Unordered,don't have dublicates,mutable, no index

In [20]:
my_set = {1,2,3,4,5,6}
type(my_set)

set

In [22]:
# add
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [23]:
#remove
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [25]:
my_set2 = {5,6,7,8,9}
my_set | my_set2 #my_set.union(my_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
my_set & my_set2 #my_set.intersection(my_set2)

{5, 6}

In [27]:
my_set.difference(my_set2)

{1, 2, 3, 4}

In [28]:
my_set2.difference(my_set)

{7, 8, 9}

In [30]:
my_set.issubset(my_set2)

False

In [31]:
{5,6}.issubset(my_set2)

True

In [33]:
#removing dublicates from a list
my_list = [1,2,3,4,4,5,5,6,7,7,8,9,10]
list(set(my_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]