# Python Working Directory and File Paths

Before Reading and Writing Data we must know in which directory we are working in and also about the file paths.

In [3]:
import os
os.getcwd()

'C:\\Users\\panwa\\Python_for_data_analysis'

In [6]:
# to list all objects in a directory
os.listdir('C:\\Users\\panwa\\Python_for_data_analysis')

['.ipynb_checkpoints',
 'Arrays.ipynb',
 'dict.ipynb',
 'gender_submission.csv',
 'PandasDataFrames.ipynb',
 'ReadingAndWritingData.ipynb',
 'test.csv',
 'train.csv',
 'Untitled.ipynb']

#to change directory where your file is present
os.chdir('file path')

Now after checking the path of the data file which has to be read we can proceed with reading the data file.

We can read different files like (CSV, TSV, EXCEL, HTML ETC.)

In [12]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

Similarly we can use:

df = pd.read_table()  : for TSV file

df = pd.read_excel('path to excel file', Sheet_name = 'xyz')  : for EXCEL file

df = pd.read_html()   : for WEB file

# Writing Data

In [13]:
df.to_csv('EmptyTest.csv')
os.listdir('C:\\Users\\panwa\\Python_for_data_analysis')

['.ipynb_checkpoints',
 'Arrays.ipynb',
 'dict.ipynb',
 'EmptyTest.csv',
 'gender_submission.csv',
 'PandasDataFrames.ipynb',
 'ReadingAndWritingData.ipynb',
 'test.csv',
 'train.csv',
 'Untitled.ipynb']